.img_box_shadow {
    box-shadow: 10px 10px 15px grey;
    width: 400px;
    
}
.img_box_shadow_1 {
    box-shadow: -10px -10px 15px rgb(199, 113, 113);
    width: 400px;
    
}
.img_box_shadow_2 {
    box-shadow: 0px 0px 20px 10px #F527CF;
    width: 400px;
    
}
.img_box_shadow_3 {
    box-shadow: 5px 5px 15px 5px ;
    width: 400px;
    
}
.img_box_shadow_4 {
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 255, 0.5));
    width: 400px;
    
}