/* .flex-item {
   width: 200px;
   height: 150px;
   margin-top: 50px;
    background-color: lightcoral; */
    /* border: 2px solid darkred; */
    /* font-size: 50px; */
/* } */
/* .flex-container { */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    border: 2px solid black;    
    background-color: lightblue;
    gap: 20px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* height: 600px; */
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    /* align-content: stretch; */
    /* justify-content: center; */

/* } */



.flex-item {
    width: 200px;
    height: 150px;
    margin-top: 50px;
    background-color: lightcoral;
    border: 2px solid darkred;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */
}
.flex-container {
    display: flex;
    flex: row wrap;
    list-style: none;
    justify-content: center;

    height: 400px;
    border: 2px solid black;    
    background-color: lightblue;
    gap: 20px;
}