.font_style_1 {
    font-style: normal;
    
}
.font_style_2 {
    font-style: italic;
    
}
.font_style_3 {
    font:italic bold 30px verdana;
    
}
.font_style_4 {
    font-style: normal italic;
    
}