.font_family {
    font-family: 'Courier New', Courier, monospace;
    
}

.font_family_1 {
    font-family: Arial, sans-serif;
}

.font_family_2 {
    font-family: 'Times New Roman', serif;
}
.font_family_3 {
    font-family: 'Lucida Console', Monaco, monospace;
    
}
.font_family_4 {
    font-family: 'Georgia', serif;
    
}
.font_family_5 {
    font-family: 'Verdana', sans-serif;
    
}
.font_family_6 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    
}
.font_family_7 {
    font-family: 'Tahoma', sans-serif;
    
}
.font_family_8 {
    font-family: 'Impact', Charcoal, sans-serif;
    
}
.font_family_9 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    
}
.font_family_10 {
    font-family: 'Trebuchet MS', sans-serif;
    
}
.font_family_11 {
    font-family: 'Arial Black', Gadget, sans-serif;
    
}
.font_family_12 {
    font-family: 'Courier New', Courier, monospace;
    
}
