ul{
    list-style-type: none;
    width: 200px;
    padding: 10px;
    
}
li{
    background-color: lightblue;
    /* margin: 5px 0; */
    margin-bottom: 6px;

    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    border: 3px solid #ccc;
}
li:nth-child(odd){
    background-color: lightgreen;
}
li:nth-child(even){
    background-color: lightcoral;
}
/* li:nth-child(3n){
    background-color: lightseagreen;
    color: white;
} */

/* li:nth-child(4n+1){
    font-weight: bold;
    font-size: 20px;
} */
/* li:nth-child(-n+2){
    border: 3px solid red;
}
li:nth-child(n+5){
    border: 3px solid blue;
} */


/* 135 */


li:first-child{
    border: 3px solid orange;
}
li:last-child{
    border: 3px solid purple;
}
li:only-child{
    background-color: yellow;
    font-size: 22px;
    font-weight: bold;
}
/* 136 */
/* li:not(:nth-child(3)){
    opacity: 0.7;
} */
/* 
li:not(:first-child){
    font-style: italic;
} */
/* li:not(:last-child){
    text-transform: uppercase;
} */
li:nth-child(5){
    background-color: black;
    color: white;
}