div{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: antiquewhite;
    position: relative;

    animation: movingbox 20s infinite 1s alternate;
}

@keyframes movingbox{
    0%{
        background-image: url(/learning-_css_09_01_26/images/bird-1295847_1280.png);
        background-size: cover;
        left: 0px;
        top: 0px;
    }
    25%{
        background-image: url(/learning-_css_09_01_26/images/images.jpeg);
        left: 300px;
        top: 0px;
    }
    50%{
        background-image: url(/learning-_css_09_01_26/images/ornament-2439529_1280.png);
        left: 300px;
        top: 300px;
    }
    75%{
        background-image: url(/learning-_css_09_01_26/images/ornament-2452592_1280.png);
        left: 0px;
        top: 300px;
    }
    100%{
        background-image: url(/learning-_css_09_01_26/images/ram.jpg);
        left: 0px;
        top: 0px;
    }
}

h1{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: aqua;
    position: relative;
    padding: 20px;
    animation: movebox ;
    animation-duration: 15s;
}
@keyframes movebox{
    0%{
        background-color: aqua; top: 0px; left: 0px;
        
    }
    25%{
        background-color: black;top: 0px; left: 300px;

    }
    50%{
        background-color: blueviolet;left: 300px; top: 300px;
    }
    75%{
        background-color: chartreuse;left: 0px; top: 300px;
    }
    100%{
        background-color:cornflowerblue;left: 0px; top: 0px;
    }
}

