.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: 800;
    perspective: 100px;

}
.text-container > b{
    height: 90px;
    box-shadow: 0px 30px 15px grey;
    background: linear-gradient(to right,red,orange,yellow,black);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    animation: getup 10s infinite;
}
.text-container>b:nth-child(1) {
animation-delay: 0s;
}
.text-container>b:nth-child(2) {
animation-delay: 0.25s;
}
.text-container>b:nth-child(3) {
animation-delay: 0.50s;
}
.text-container>b:nth-child(4) {
animation-delay: 0.75s;
}
.text-container>b:nth-child(5) {
animation-delay: 1s;
}
.text-container>b:nth-child(6) {
animation-delay: 1.25s;
}
@keyframes getup {
    0% {
        transform: rotateX(-85deg);
    }
    20% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    80% {
        transform: rotateX(-85deg);
    }
    100% {
        transform: rotateX(-85deg);
    }
}




