.container{
    position: relative;
    margin: 100px;
}
div{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-weight: 600px;
    font-size: 16px;
}
.blue{
    background-color: blue;
    left: 40px;
    z-index: 1;
}
.blue:hover{
    background-color: brown;
    z-index: 100;
}
.red{
    background-color: red;
    left: 80px;
    z-index: 2;
}
.red:hover{
    background-color: yellow;
    z-index: 40;
}
.green{
    background-color: green;
    left: 120px;
    z-index: 3;
}
.green:hover{
    background-color: rgb(193, 8, 94);
    zoom: 160
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}